<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bucket-list{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/logo-512.png') }}">

        {# google font #}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
            <header>
                <div class="container">
                    <h1 class="header-logo">
                        <a href="{{ path('main_home') }}" title="Page d'accueil">
                            <img src="{{ asset('img/logo.svg') }}" alt="Logo bucket-list">Bucket-List</a>
                    </h1>
                    <nav class="header-nav">
                        <a href="{{ path('main_home') }}" title="Page d'accueil">Home</a>
                        <a href="{{ path('wish_list') }}" title="Liste d'idées">Liste d'idées</a>
                        <a href="{{ path('wish_create') }}" title="Création d'idée">Création d'idée</a>
                        <a href="{{ path('main_aboutUs') }}" title="A propos de nous">A propos de nous</a>
                    </nav>
                </div>
            </header>

            {% for label, messages in app.flashes %}
                {% for message in messages %}
                <div class="flash flash-{{ label }}">
                    {{ message }}
                </div>
                 {% endfor %}
            {% endfor %}

            <main>
                <div class="container">
                    {% block body %}{% endblock %}
                </div>
            </main>
            <footer>
                <div class="container">
                    &copy;Bucket-List 2024
                </div>
            </footer>

    </body>
</html>
